@import "app/common/styles/common"

.image-result
    max-width: 500px
    padding: 0px

.state-container
    display: flex
    justify-content: center

.show-images
    display: flex
    justify-content: center

.grid
    width: 100vw